.contenedor{
    height: 250px;
    width: 250px;
    margin: auto;
    -webkit-perspective: 700;
    perspective: 700;
}
.carta{
    height: 100%;
    width: 100%;
    background-color: red;
    position: relative;
    transform-style: preserve-3d;
    transition: 1.5s;

}
.carta:hover{
    transform: rotateY(180deg);
}
.lado{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.frente{
    background-color: crimson;
}
.atras{
    background-color: green;
    transform: rotateY(180deg);
}
